.confirmation {
  background-color: #fffef2;
  display: none;
}

.confirmation.active {
  display: block;
}
  
  .skin-type-summary {
    display: block;
    margin-left: 80px;
    margin-bottom: 100px;
  }
      
  .skin-type-summary h1 {
    font-family: 'Oxygen', sans-serif;
    color: #252525;
    font-size: 30px;
    padding-top: 120px;
  }

  .product-recommended {
    margin-bottom: 70px;
  }
  
  .subscribe {
    margin-bottom: 70px;
  }
  
  
  .subscribe h1 {
    text-align: center;
  }
  
  .register {
    padding-bottom: 50px;
  }

  .register h1 {
    text-align: center;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  
  .register h1::before, .register h1::after {
    content: '';
    flex: 1 1 auto; 
    border-bottom: solid 1px black;
    margin: 0px 80px;
  }
  
  
  .subscribe-input, .register-input {
    display: flex;
    justify-content: center;
  }

  .subscribe-input button{
    margin-left: 30px;
  }
  
  .subscribe-input input{
    background-color: transparent;
    padding: 20px;
    width: 400px;
  }
  
  .subscribe-input input:focus{
    outline: none;
  }

  .summary-table {
    width: 90%;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .summary-table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(51,51,51,.2);
  }

  .summary-table-item {
    padding: 10px;
  }