@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
}

.skin-type {
  display: none;
  text-align: center;
  height: 100vh;
  background-color: #fffef2;
}

.skin-type.active {
  display: grid;
  align-items: center;
  justify-content: center;
}

.typing {
  font-family: 'Oxygen', sans-serif;
  color: #252525;
  font-size: 40px;
  width: 400px;
  height: 50px;
  border-right: 1px solid transparent;
  animation: typing 3.5s steps(37, end), blink-caret .75s step-end infinite;
  word-break: break-all;
  overflow: hidden;
}

.next-step {
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.next-step.active {
  opacity: 100%;
}