@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
}

@keyframes imageJump {
  30% { transform: scale(1.1); }
  40%, 60% { transform: rotate(-20deg) scale(1.1); }
  50% { transform: rotate(20deg) scale(1.1); }
  70% { transform: rotate(0deg) scale(1.1); }
  100% { transform: scale(1); }
}

.skin-type {
  display: none;
  text-align: center;
  height: 100vh;
  background-color: #fffef2;
}

.skin-type.active {
  display: grid;
  align-items: center;
  justify-content: center;
}

.typing {
  font-family: 'Oxygen', sans-serif;
  color: #252525;
  font-size: 40px;
}

.skin-type-word {
  margin: 20px auto 0 auto;
  font-size: 35px;
  display: block;
  width: 400px;
  height: 40px;
  animation: typing 3.5s steps(37, end), blink-caret .75s step-end infinite;
  word-break: break-all;
  overflow: hidden;
  font-weight: 700;
  border-right: 1px solid transparent;
}

.skin-type-img {
  display: none;
}

.skin-type-img.active {
  display: block;
}

.skin-type-img > img {
  width: 400px;
  animation: imageJump 2s ease infinite;
  animation-iteration-count: 1;
}

.next-step {
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.next-step.active {
  opacity: 100%;
}