.question-wrapper {
  display: none;
  text-align: center;
  height: 100vh;
}

#question-1, #extra-question-3 {
  background-color: rgb(235, 227, 218);
}

#question-2, #extra-question-2 {
  background-color: rgb(215, 194, 148);
}

#question-3, #extra-question-1 {
  background-color: rgb(216, 156, 141);
}

.question-wrapper.active {
  display: block;
}

.question-heading {
  color: #252525;
  font-family: 'Suisse Medium';
  font-size: 40px;
  font-weight: 400;
  padding-top: 120px;
  padding-bottom: 100px;
  margin: 0;
}

.choice-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  align-items: center;
}

.choice-wrapper.extra {
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
}