.logo {
  position: fixed;
  z-index: 1;
  width: 100px;
  height: 32px;
  top: 30px;
  left: 50px;
}

.home {
  background-color: #fffef2;
  text-align: center;
  position: relative;
  height: 100vh;
}

.start {
  margin-top: 80px;
  margin-bottom: 200px;
}

.first-question {
  display: none;
}
